/* GLOBAL STYLES */

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    //overflow: hidden;
    height: 99.9%;
    background-color: #333;
}

html.locked {
    overflow: hidden;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 99.9%;
    overflow-x: hidden;
}

div,
nav,
section {
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

label {
    color: #CCC;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active,
a:focus {
    outline: none;
}

table {
    width: 100%;
}

/* Headings */
h1 {
    color: #FFF;
    margin: .5rem 0;
    width: 100%;
    font-weight: 100;
    font-family: "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.off-canvas {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 100ms ease;
    transform: translate3d(0px, 0, 0);
    background: url("../assets/img/nyc-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.off-canvas.uncover {
    transform: translate3d(75%, 0, 0);
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../assets/img/nyc-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    -webkit-filter: blur(8px);
}

.pulsar {
    position: absolute;
}

.pulsar1 {
    top: 60%;
    left: 20%;
}

.pulsar2 {
    top: 80%;
    left: 50%;
    transform: scale(1.6);
}

.pulsar3 {
    top: 40%;
    left: 80%;
    transform: scale(1.6);
}


.core {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 140, 186, 0.8);
    position: absolute;
    top: 20px;
    left: 20px;
}

.ring {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    border: 3px rgba(255, 255, 255, 0.5) solid;
    -webkit-animation-name: ani;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 4s;
    -webkit-animation-direction: normal;

}

@-webkit-keyframes ani {
    0% {-webkit-transform: scale(0.01); opacity: 0}
    1% {-webkit-transform: scale(0.1); opacity: 1}
    20% {-webkit-transform: scale(0.5); opacity: 1;}
    50% {-webkit-transform: scale(1); opacity: 0;}
    100% {-webkit-transform: scale(1); opacity: 0}
}

.ring1 { -webkit-animation-delay: -1s;}
.ring2 { -webkit-animation-delay: -1.33s;}
.ring3 { -webkit-animation-delay: -1.66s;}

.pulsar2 .ring1 { -webkit-animation-delay: -2s;}
.pulsar2 .ring2 { -webkit-animation-delay: -2.33s;}
.pulsar2 .ring3 { -webkit-animation-delay: -2.66s;}

.pulsar3 .ring1 { -webkit-animation-delay: -3s;}
.pulsar3 .ring2 { -webkit-animation-delay: -3.33s;}
.pulsar3 .ring3 { -webkit-animation-delay: -3.66s;}


@media #{$medium-up} {

    h1 {
        margin: 1rem 0;
    }

}