/* partial containers */
.pages-container {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translate3d(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
}

.page {
    max-height: 100%;
    width: 100%;
    color: #CCC;
    //background-color: #FFF;
}

.page-content{
    padding: 0 0 2.5rem;
}

.page h1 {
    text-align: center;
}

.page-content .row {
    overflow: hidden;
}

.page-content .row:before,
.page-content .row:after {
    content: none; /* Foundation row clearing causing animation bugs in page transitions */
}

@media #{$medium-up} {

    .page-wrapper {
        padding: 3rem 0;
        overflow: hidden;
    }

    .page {
        overflow-y: auto;
        height: 100%;
    }
}