<div class="page main-page">

    <div class="page-content">

        <section class="homepage-hero">

            <div class="row">
                <div class="columns medium-6">
                    <h1>Socket Chat</h1>
                    <h2>Real-time chat with web sockets.</h2>
                </div>
            </div>
            <div class="row" ng-hide="appState.user.authenticated">
                <div class="medium-6 large-5 columns">
                    <a ng-click="go('/signup', 'slideLeft')" class="large button">Sign up free</a>
                </div>
            </div>
            <div class="row" ng-hide="!appState.user.authenticated">
                <div class="medium-6 large-5 columns">
                    <a ng-click="go('/main')" class="large button">Chat Now</a>
                </div>
            </div>

        </section>

    </div>

</div>
