<div class="page main-page">

    <section class="page-content">

        <h1>Friends</h1>

        <div class="row">

            <div class="columns small-10 small-offset-1">

                <ul class="person-list">
                    <li ng-repeat="person in people">
                        <a ng-click="go('/chat/' + person.id)" class="panel callout">
                            <img alt="avatar" ng-src="{{person.avatar[0].url}}" />
                            {{person.name.full}}
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </section>

</div>
