.main-page {

}

.main-page ul.person-list {
    list-style: none;
}

.main-page ul.person-list li {
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: 100;
}

.main-page ul.person-list li a {
    display: block;
}

.main-page ul.person-list li a:hover {
    background-color: #FFF;
    text-decoration: none;
}



.main-page ul.person-list li img {
    height: 4rem;
    width: auto;
    display: inline-block;
    margin: 0 1rem 0 0;
}
