.main-page {

}

.main-page ul.person-list {
    list-style: none;
}

.main-page ul.person-list li {
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: 300;
}

.main-page ul.person-list li a {
    display: block;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    color: #FFF;
}

.main-page ul.person-list li a:hover {
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}



.main-page ul.person-list li img {
    height: 4rem;
    width: auto;
    display: inline-block;
    margin: 0 1rem 0 0;
    opacity: 0.5;
}
